*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxItems input::placeholder {
  color: rgba(182, 182, 181, 1);
}
.mainContainer{
  height: 100dvh;
  width:100vw;
  background-color: rgb(181, 213, 181);
    display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top:0;
}
.createImage{
  width: 10px;
}
.createPasswordContainer{
  height: 87%;
  width: 93%;
  background-color: white;
  border-radius: 20px;
}
.createHeading{
  color:rgba(97, 104, 116, 1);
  font-weight: 500;
}
.innerContainer{
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.HeadingContainer{
  /* background-color: blueviolet; */
  flex: 1;
}
.bottomSection{
    display: flex;
     flex: 9;
     /* background-color: yellowgreen; */
}
.passwordInput,.createButton{
  width: 53%;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(228, 223, 223, 1);
  height: 40px;
  border-radius: 10px;
}
.passwordInput{
  padding-left: 15px;
  
}
.leftSection{
  flex:1;
  /* background-color: red; */
}
.rightSection{
  flex:1;
  /* background-color: blueviolet; */
}
.innerContainer{
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
/* .createPasswordContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
  @media (min-width:1201px) {
   .innerContainer{
        height: 70%;
      
     }
     .createPasswordContainer{
  display: flex;
  align-items: center;
}
.HeadingContainer{
   /* background-color: green; */
   width: 50%;
  
}
.createHeading{
  text-align: center;
}
.boxItems{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.leftSection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.passwordInput,.createButton{
   margin: 0 auto;
}
.createButton{
  color: white;
  background-color: rgba(104, 159, 56, 1);
  outline: none;
  border: 2px solid rgba(104, 159, 56, 1);
}
.passwordInput{
  color: black;
}
.createImage{

  height: 90%;
  width: auto;
}
.rightSection{
  display: flex;
  justify-content: center;
}
  }
   @media (min-width:1024px) and (max-width:1200px) {
   .innerContainer{
        height: 70%;
      
     }
     .createPasswordContainer{
  display: flex;
  align-items: center;
}
.HeadingContainer{
   /* background-color: green; */
   width: 50%;
  
}
.createHeading{
  text-align: center;
}
.boxItems{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.leftSection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.passwordInput,.createButton{
   margin: 0 auto;
}
.createButton{
  color: white;
  background-color: rgba(104, 159, 56, 1);
  outline: none;
  border: 2px solid rgba(104, 159, 56, 1);
}
.passwordInput{
  color: black;
}
.createImage{

  height: 90%;
  width: auto;
}
.rightSection{
  display: flex;
  justify-content: center;
}
  }
   @media (min-width:768px) and (max-width:1024px) {
   .innerContainer{
        height: 70%;
      
     }
     .createPasswordContainer{
  display: flex;
  align-items: center;
}
.HeadingContainer{
   /* background-color: green; */
   width: 50%;
  
}
.createHeading{
  text-align: center;
}
.boxItems{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.leftSection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.passwordInput,.createButton{
   margin: 0 auto;
}
.createButton{
  color: white;
  background-color: rgba(104, 159, 56, 1);
  outline: none;
  border: 2px solid rgba(104, 159, 56, 1);
}
.passwordInput{
  color: black;
}
.createImage{
   
  height: 90%;
  max-height: 300px;
  width: auto;
}
.rightSection{
  display: flex;
  justify-content: center;
}
.createHeading{
  font-size: 40px;
}
  }
    @media (min-width:668px) and (max-width:767px) {
   .innerContainer{
        height: 70%;
      
     }
     .createPasswordContainer{
  display: flex;
  align-items: center;
}
.HeadingContainer{
   /* background-color: green; */
   width: 50%;
  
}
.createHeading{
  text-align: center;
}
.boxItems{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.leftSection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.passwordInput,.createButton{
   margin: 0 auto;
}
.createButton{
  color: white;
  background-color: rgba(104, 159, 56, 1);
  outline: none;
  border: 2px solid rgba(104, 159, 56, 1);
}
.passwordInput{
  color: black;
}
.createImage{
 
  height: 90%;
  max-height: 300px;
  width: auto;
}
.rightSection{
  display: flex;
  justify-content: center;
}
.createHeading{
  font-size: 35px;
}
.passwordInput,.createButton{
  width: 53%;

  height: 35px;

}
.createButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
  }
   @media (min-width:480px) and (max-width:667px) {
      
    .bottomSection{
      flex-direction: column;
    }


.createHeading{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 35px;
}
  .boxItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .rightSection{
    
    display: flex;
    justify-content: center;
 
  }
  .createButton{
  color: white;
  background-color: rgba(104, 159, 56, 1);
  outline: none;
  border: 2px solid rgba(104, 159, 56, 1);
}
.bottomSection{
  display: flex;
}
  .innerContainer{
    display: flex;
    /* background-color: brown; */
  }
  .HeadingContainer{
    flex: 1;
  }
  .bottomSection{
    /* background-color: aqua; */
   
     flex: 0 0 50%;
     display: flex;
  }
  .createImage{
  height: 60%;
  width: auto;
  
}
.rightSection{
  display: flex;
  align-items: center;
}
   }
    @media (min-width:0px) and (max-width:479px) {

 .bottomSection{
      flex-direction: column;
    }


.createHeading{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 35px;
}
  .boxItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .rightSection{
    
    display: flex;
    justify-content: center;
 
  }
  .createButton{
  color: white;
  background-color: rgba(104, 159, 56, 1);
  outline: none;
  border: 2px solid rgba(104, 159, 56, 1);
}
.bottomSection{
  display: flex;
}
  .innerContainer{
    display: flex;
    /* background-color: brown; */
  }
  .HeadingContainer{
    flex: 1;
  }
  .bottomSection{
    /* background-color: aqua; */
   
     flex: 0 0 50%;
     display: flex;
  }
  .createImage{
  height: 60%;
  width: auto;
  
}
.rightSection{
  display: flex;
  align-items: center;
}

    }
        @media (min-width:300px) and (max-width:400px) and (min-height:450px)  and (max-height:550px){
    
  .createImage{
  height: 50%;
  width: auto;
  
}
.rightSection{
  display: block;
  margin: 0 auto;
}
        }
               @media (min-width:300px) and (max-width:400px) and (min-height:550px)  and (max-height:650px){
    
  .createImage{
  height: 50%;
  width: auto;
  
}
.rightSection{
  display: block;
  margin: 0 auto;
}
        }
   @media (min-width:401px) and (max-width:501px) and (min-height:550px)  and (max-height:650px){

  .innerContainer{
    display: flex;
    /* background-color: brown; */
  }
  .HeadingContainer{
      
   flex: 1;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 1;
    
     display: flex;
  }
  .rightSection{
  display: flex;
  align-items: center;
}
 .bottomSection{
      flex-direction: column;
    }


                   }
  @media (min-width:401px) and (max-width:501px) and (min-height:450px)  and (max-height:550px){


       .createImage{
  height: auto;
  width: 40%;
   object-fit: contain;
   display: block;
   margin: 0 auto;
}

    
    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      
   flex: 1;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 9;
    
     display: flex;
  }
   .leftSection{
    flex: 0 0 40%;
   }
 .rightSection{
    flex: 1;
  }
.createHeading{
  font-size: 35px;
}
.passwordInput,.createButton{
  width: 53%;

  height: 31px;

}
.createButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
  }
     @media (min-width:300px) and (max-width:400px) and (min-height:450px)  and (max-height:550px){
     
      .createHeading{
        font-size: 30px;
      }
.passwordInput,.createButton{
  width: 58%;

  height: 32px;

}
.createButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
   .leftSection{
    flex: 0 0 40%;
   }
 .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
       .createImage{
  height: auto;
  width: 150px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
}
     }
      @media (min-width:300px) and (max-width:400px) and (min-height:550px)  and (max-height:650px){


    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
   .leftSection{
    flex: 0 0 40%;
   }
 .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
        .createImage{
  height: auto;
  width: 170px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
}
.passwordInput,.createButton{
  width: 68%;

  height: 32px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .createHeading{
        font-size: 30px;
      }
      }
          @media (min-width:300px) and (max-width:400px) and (min-height:650px)  and (max-height:750px){


    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
   .leftSection{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
 .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
        .createImage{
  height: auto;
  width: 170px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
}
.passwordInput,.createButton{
  width: 68%;

  height: 32px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .createHeading{
        font-size: 30px;
      }
      }
   @media (min-width:400px) and (max-width:500px) and (min-height:450px)  and (max-height:550px){

  .leftSection{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }

         .createImage{
  height: auto;
  width: 150px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
}
         }
   @media (min-width:400px) and (max-width:500px) and (min-height:550px)  and (max-height:650px){
   
   
     .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
   .leftSection{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
 .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
              .createImage{
  height: auto;
  width: 160px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
   }
      @media (min-width:400px) and (max-width:500px) and (min-height:650px)  and (max-height:750px){

   .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
                .createImage{
  height: auto;
  width: 200px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
      }
 @media (min-width:500px) and (max-width:600px) and (min-height:450px)  and (max-height:550px){

   
.innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
              .createImage{
  height: auto;
  width: 150px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 46%;

  height: 34px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
 }
  @media (min-width:500px) and (max-width:600px) and (min-height:450px)  and (max-height:550px){

   
.innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
              .createImage{
  height: auto;
  width: 150px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 46%;

  height: 34px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
 }
   @media (min-width:500px) and (max-width:600px) and (min-height:550px)  and (max-height:650px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 170px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 46%;

  height: 34px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
   }
   @media (min-width:600px) and (max-width:667px) and (min-height:450px)  and (max-height:550px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 155px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 38%;

  height: 30px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 30px;
}
   }
     @media (min-width:668px) and (max-width:700px) and (min-height:450px)  and (max-height:550px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 165px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 58%;

  height: 30px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 30px;
}
   }
    @media (min-width:600px) and (max-width:667px) and (min-height:550px)  and (max-height:650px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 170px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 38%;

  height: 30px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 30px;
}
   }
    @media (min-width:668px) and (max-width:700px) and (min-height:550px)  and (max-height:650px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 170px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 58%;

  height: 30px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 30px;
}
   }
   @media (min-width:600px) and (max-width:667px) and (min-height:650px)  and (max-height:750px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 190px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 38%;

  height: 30px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 30px;
}
   }
     @media (min-width:668px) and (max-width:700px) and (min-height:650px)  and (max-height:750px){



    .innerContainer{
    display: flex;
    /* background-color: brown; */
  } 
    .HeadingContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   flex: 2;
  }
  .bottomSection{
    /* background-color: aqua; */
   flex: 8;
    
     display: flex;
  }
           .leftSection{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
   }
    .rightSection{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
            .createImage{
  height: auto;
  width: 190px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 58%;

  height: 30px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 30px;
}
   }
    @media (min-width:700px) and (max-width:800px) and (min-height:450px)  and (max-height:550px){

          .createImage{
  height: auto;
  width: 190px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.createHeading{
  font-size: 30px;
}
.passwordInput,.createButton{
  width: 58%;

  height: 30px;

}
.createButton{
  font-size: 12px;
}
    }
        @media (min-width:1025px) and (max-width:1125px) and (min-height:500px)  and (max-height:550px){

          .createImage{
  height: auto;
  width: 220px;
   object-fit: contain;
   display: block;
   /* margin: 0 auto; */
} 
.passwordInput,.createButton{
  width: 58%;

  height: 33px;

}
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.createHeading{
  font-size: 40px;
}

    }
    @media (min-width:668px) and (max-width:1024px) and (min-height:800px)  and (max-height:900px){

      .rightSection{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    }
   @media (min-width:668px) and (max-width:1024px) and (min-height:900px)  and (max-height:1100px){

      .rightSection{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    }
    @media (min-width:701px) and (max-width:1024px) and (min-height:699px)  and (max-height:799px){

   .rightSection{
    display: flex;
    align-items: center;
    /* justify-content: center; */
   }
      
    }
.createButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:467px) and (max-width: 667px) and (min-height:800px) and (max-height:1000px){
  

.otp-image{
 width:67%; 
}
.HeadingContainer{
 display: flex;
 align-items: center;
 justify-content: center;
}

}
@media (min-width:320px) and (max-width: 466px) and (min-height:800px) and (max-height:1000px){
  

.otp-image{
 width:67%; 
}
.HeadingContainer{
 display: flex;
 align-items: center;
 justify-content: center;
}

}
  @media (min-width:1200px) and (max-width: 1400px) and (min-height:800px) and (max-height:1000px){
  
.boxItems{
  gap: 20px;
}
.passwordInput,.createButton{
  width: 53%;

  height: 45px;

}
.createImage{
 height: 80%;
}

.rightSection{
  display: flex;
  align-items: center;
}
}  



     
